<!DOCTYPE html>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
	{% if name %}{{ name }}{{ else }}Welcome{% endif %}
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Welcome{% if name %}{{ ', ' + name }}{% endif %}</h1>
</div>
<div>
	<p>Files in your working directory:</p>
</div>	
	{% if dir_list == [] %}
		<p>Not found any files</p>
	{% else %}
		{% for us_file in dir_list %}
			<p><a href="/user/{{ name }}/{{ us_file }}">{{ us_file }}</a></p>
		{% endfor %}
	{% endif %}
{{ wtf.quick_form(form) }}
{% endblock %}
